.home {
    background-image: url(https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1600);
    /* background-image: url(https://images.pexels.com/photos/955733/pexels-photo-955733.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.insta {
    background: rgb(131, 58, 180);
    background: linear-gradient(319deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176,69,1)100%);
}