.widget {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .right {
        .percentage {
            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            padding: 5px;
            border-radius: 5px;
        }
    }
}